<div id="portrait-container">
    <img id="portrait" src="images/portrait.jpg" alt="">
</div>
<h1>Welcome!</h1>
<p class="lead">
    My name is Guðni Matthíasson and this is my personal website.
    I am an Icelandic software developer and Microsoft certified Dynamics AX Technology Specialist.
    I hold a BSc degree in Computer Science from Reykjavík University.
    <br/>
    Since graduation I have worked on the design, development, maintenance, integration and support of business solutions for <i>Microsoft Dynamics AX</i> and <i>365 for Finance & Operations</i>.
    For the past few years I have actively explored various quality control strategies to keep the output from myself and other developers usable, reliable and secure.
    This includes mandatory code reviews, gated check-in, automated regression testing and variations on test-driven development.
    <br/>
    On a more personal note: I play the guitar and sing a bit. I enjoy board games, beer, hiking, traveling and all things science.
    In short, I am a huge nerd.
    <br/>
    On this site you can find my CV and some of my private projects.
</p>
<% content_for :head do %>
  <%= stylesheet_link_tag 'start_page' %>
  <%= javascript_include_tag 'application', media: 'bootstrap' %>
<% end %>