<div id="portrait-container">
    <img id="portrait" src="images/portrait.png" alt="">
</div>
<h1 align="center">Welcome!</h1>
<p class="lead">
    Welcome! My name is Guðni Matthíasson and this is my personal website.
    I am a Microsoft certified computer engineer and cybersecurity enthusiast from Iceland.
    I hold a BSc in Computer Science from Reykjavík University and a MSc in Computer Science and Engineering from The Technical University of Denmark.
    <br/>
    Since 2014 I have worked on the design, development, maintenance, integration and support of enterprise systems, notably <i>Microsoft Dynamics AX</i>, <i>365 for Finance & Operations</i> and <i>Microsoft Power Platform</i>.
    Throughout my carreer I have actively explored various quality control strategies to improve the usability, reliability and security of my team's output as well as my own.
    These include mandatory code reviews, gated check-in, automated regression testing and variations on test-driven development.
    <br/>
    Lately, my work has involved security analysis and consulting, mostly in terms of governance and compliance, though my prior training and experience are mostly technical. I am very passionate about computer security, and proud to help ensure that vulnerabilities are not built into products or deployments via careless design, implementation or operation.
    <br/>
    On a more personal note: I play the guitar and sing a bit. I enjoy board games, beer, scuba diving, hiking, traveling and all things science.
    In short, I am a huge nerd.
    <br/>
    On this site you can find my CV and some of my private projects.
</p>
<% content_for :head do %>
  <%= stylesheet_link_tag 'start_page' %>
  <%= javascript_include_tag 'application', media: 'bootstrap' %>
<% end %>
