<h1 align="center">To-do List</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3 col-sm-12">
    <div id="table-todos" class="panel panel-default">
      <table class="table">
        <thead> 
          <tr> 
            <th>Done</th> <th>To-do</th> <th>Actions</th>
          </tr> 
        </thead>
        <tbody>
          <tr v-for="todo in todos">
            <td class="col-md-1">
              <input type="checkbox" v-model="todo.done" @change="update(todo)"></input>
            </td>
            <td v-if="todo.done">
              <del>
                {{ todo.name }}
              </del>
            </td>
            <td v-else>
              <div v-if="edit_mode && edit_id == todo.id"><input type="textfield" class="form-control" v-model="todo.name" @change="update(todo)"></input></div>
              <div v-else>{{ todo.name }}</div>
            </td>
            <td class="col-md-1">
              <a v-bind:class="{ 'hidden': todo.done || (edit_mode && edit_id == todo.id) }" class="btn" @click="edit(todo)">Edit</a>
            </td>
            <td class="col-md-1">
              <a class="btn btn-danger" @click="destroy(todo)">Delete</a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><input type="textfield" class="form-control" placeholder="What do you need to do?" autofocus v-on:keyup.enter="create" v-model="new_todo.name"></input></td>
            <td><a class="btn btn-primary" @click="create">Create</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>