@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

[v-cloak] > * { 
    display:none;
}

#bg {
    z-index: -1;

    position: fixed; 
    top: 0; 
    left: 0; 
  
    min-width: 100%;
    min-height: 100%;
}

#main-content {
    margin-left: 20px;
}

#notifications-container {
    position: relative;
}

#notifications {
    position: absolute;
    margin-top: -20px;
    width: 100%;
    top: 0;
    left: 0;
}

.alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
    height: 30px;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}

.alert:empty {
    display: none;
}

.notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
    height: 30px;
    margin: 0;
    padding-top: 5px;
    padding-left: 10px;
}
 
.notice:empty {
    display: none;
}

.row {
    width: 100%;
}

.col-todo-done {
    width: 40px;
}

.col-todo-actions {
    width: 100px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

#loading-display {
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

#loading-symbol {
    font-size: 2.5em;
}

#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
	padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
}

#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}

#footer ul.social li a{
	color:#777777;
}

#footer ul.social li a:hover{
	color:#333333;
}
