@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

[v-cloak] > * { 
    display:none
}

#bg {
    z-index: -1;

    position: fixed; 
    top: 0; 
    left: 0; 
  
    min-width: 100%;
    min-height: 100%;
}

.row {
    width: 100%;
}

.col-todo-done {
    width: 40px;
}

.col-todo-actions {
    width: 100px;
}

.table > tbody > tr > td {
    vertical-align: middle;
}

#loading-display {
    margin-right: auto;
    margin-left: auto;
    text-align:center;
}

#loading-symbol {
    font-size: 3em;
}